.logo {
    padding: 0;
    margin: 0;
}

#honeycomb .container {
    border-radius: 6px 0px 0px 6px;
    position: fixed;
    top: 20%;
    bottom: unset;
    right: 0px;
    transform: translate(0px, 0px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    z-index: 2147483647;
    margin: 0;
    margin-right: -168px;
    padding: 0 !important;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    transition: margin-right 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    animation-name: fade-in;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

@keyframes fade-in {
    0% { margin-right: -168px; }
    25% { margin-right: 0px; }
    75% { margin-right: 0px; }
    100% { margin-right: -168px; }
}

#honeycomb .container .fixed-button {
    border-radius: 6px 0px 0px 6px;
    background: linear-gradient(90deg, #159800 0%, #31BD1A 100%);
    padding: 15px;
}

#honeycomb .container .expandable {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 15px;
}

#honeycomb .container .hoverable {
    width: 325px;
    height: auto;
    background-color: white;
    color: black;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    right: 25%;
    margin-left: -60px;
    opacity: 0;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.25);
    transition: opacity 0.5s;
    align-items: center;
    margin-right: 150px;
}

.show {
    visibility: visible;
    opacity: 1!important;
    transition: opacity 0.5s;
}

.header {
    height: 50px;
    border-radius: 0px 1px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    padding: 16px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100000;
}

.header span:hover {
    cursor: pointer;
}

.logo-with-name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    padding-left: 5px;
}

.body {
    padding: 16px;
    padding-right: 0px;
    padding-bottom: 18px;
    height: 550px;
    overflow-y: auto;
}

.hoverable h1 {
    font-size: 16px;
}

.product-suggestions .carousel .row {
    white-space: nowrap;
    overflow-x: auto;
}

.product-item {
    display: inline-block;
    height: 100%;
    width: 175px;
    margin: 5px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #E9E9E9;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.10);
    padding: 10px;
}

.product-item .description {
    white-space: normal;
    text-overflow: ellipsis;
}

.product-item .description span {
    padding-left: 2px;
}

.product-item .description p {
    margin: 0;
    padding: 2px;
}

.fun-facts {
    border-radius: 4px;
    border: 1px solid #E9E9E9;
    box-shadow: 0px 2px 4px 2px rgba(20, 152, 0, 0.10);
    padding: 16px;
    margin-top: 24px;
    margin-right: 8px;
    white-space: normal;
    border: 1px solid #149800;
}

